HELP.md
target/
.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache
*.yml
*.log
### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr
### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### Project-Specific Files to Ignore ###
/request.http
/htmlReport

### Sensitive Config Files ###
/src/main/resources/application.properties
/src/main/resources/**/*.yaml
/src/main/resources/**/*.yml

# Extra strong: ignore all YAML/YML files globally (if not already tracked)
/**/*.yaml
/**/*.yml

# Optional (if you want to hide entire resources folder — NOT RECOMMENDED unless sure)
/src/main/resources/*
!/src/main/resources/static/


